In [25]:
from tabulate import tabulate

data = [
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = ['Name', 'Age', 'Gender'], tablefmt = 'grid'))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+

In [13]:
from tabulate import tabulate

data = [
    ['Alexandra', 24, 'Female'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
]

print('---------------------------------------------------')
print(f'|No.\t |Name \t\t |Age \t\t |Gender  |')
print('---------------------------------------------------')
for i in data:
     print(f'|{data.index(i)+1}\t |{i[0]}\t |{i[1]}\t\t |{i[2]}  |')

---------------------------------------------------
|No.	 |Name 		 |Age 		 |Gender  |
---------------------------------------------------
|1	 |Alexandra	 |24		 |Female  |
|2	 |Brielle	 |23		 |Female  |
|3	 |Catherine	 |25		 |Female  |

In [18]:
# First row
from tabulate import tabulate

data = [
    ['Name', 'Age', 'Gender'],
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = 'firstrow', tablefmt = 'grid', numalign= 'center'))

+-----------+-------+----------+
| Name      |  Age  | Gender   |
+===========+=======+==========+
| Anthony   |  24   | Male     |
+-----------+-------+----------+
| Brielle   |  23   | Female   |
+-----------+-------+----------+
| Catherine |  25   | Female   |
+-----------+-------+----------+

In [26]:
from tabulate import tabulate

data = [
    {'Name': 'Anthony', 'Age' : 24, 'Gender': 'Male'},
    {'Name': 'Brielle', 'Age' : 23, 'Gender': 'Female'},
    {'Name': 'Catherine', 'Age' : 25, 'Gender': 'Female'}
    ]

print(tabulate(data, headers = 'keys', tablefmt = 'grid'))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+

In [23]:
from tabulate import tabulate
import pandas as pd

data = {
    'Name' : ['Anthony', 'Brielle', 'Catherine'],
    'Age' : [24, 23, 25],
    'Gender' : ['Male', 'Female', 'Female']
    }

df = pd.DataFrame(data)

print(tabulate(df, headers = 'keys', tablefmt = 'grid', showindex = False))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+