In [29]:
from tabulate import tabulate

data = [
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = ['Name', 'Age', 'Gender'], tablefmt = 'grid'))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+

In [30]:
# First row
from tabulate import tabulate

data = [
    ['Name', 'Age', 'Gender'],
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = 'firstrow', tablefmt = 'grid', numalign= 'center'))

+-----------+-------+----------+
| Name      |  Age  | Gender   |
+===========+=======+==========+
| Anthony   |  24   | Male     |
+-----------+-------+----------+
| Brielle   |  23   | Female   |
+-----------+-------+----------+
| Catherine |  25   | Female   |
+-----------+-------+----------+

In [31]:
from tabulate import tabulate

data = [
    {'Name': 'Anthony', 'Age' : 24, 'Gender': 'Male'},
    {'Name': 'Brielle', 'Age' : 23, 'Gender': 'Female'},
    {'Name': 'Catherine', 'Age' : 25, 'Gender': 'Female'}
    ]

print(tabulate(data, headers = 'keys', tablefmt = 'grid'))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+

In [32]:
from tabulate import tabulate
import pandas as pd

data = {
    'Name' : ['Anthony', 'Brielle', 'Catherine'],
    'Age' : [24, 23, 25],
    'Gender' : ['Male', 'Female', 'Female']
    }

df = pd.DataFrame(data)

print(tabulate(df, headers = 'keys', tablefmt = 'grid', showindex = False))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+

In [33]:
print(tabulate(data))

---------  --  ------
Anthony    24  Male
Brielle    23  Female
Catherine  25  Female
---------  --  ------

In [34]:
print(tabulate(data, tablefmt = 'simple'))

---------  --  ------
Anthony    24  Male
Brielle    23  Female
Catherine  25  Female
---------  --  ------

In [35]:
data = [
    ['Name', 'Age', 'Gender'],
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = 'firstrow', tablefmt = 'grid'))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+

In [36]:
data = [
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = ['Name', 'Age', 'Gender'], tablefmt = 'grid', numalign = 'center'))

+-----------+-------+----------+
| Name      |  Age  | Gender   |
+===========+=======+==========+
| Anthony   |  24   | Male     |
+-----------+-------+----------+
| Brielle   |  23   | Female   |
+-----------+-------+----------+
| Catherine |  25   | Female   |
+-----------+-------+----------+

In [37]:
data = [
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = ['Name', 'Age', 'Gender'], tablefmt = 'grid', stralign = 'center'))

+-----------+-------+----------+
|   Name    |   Age |  Gender  |
+===========+=======+==========+
|  Anthony  |    24 |   Male   |
+-----------+-------+----------+
|  Brielle  |    23 |  Female  |
+-----------+-------+----------+
| Catherine |    25 |  Female  |
+-----------+-------+----------+

In [38]:
data = [
    ['Anthony', 24, 'Male'],
    ['Brielle', 23, 'Female'],
    ['Catherine', 25, 'Female']
    ]

print(tabulate(data, headers = ['Name', 'Age', 'Gender'], tablefmt = 'grid', showindex = True))

+----+-----------+-------+----------+
|    | Name      |   Age | Gender   |
+====+===========+=======+==========+
|  0 | Anthony   |    24 | Male     |
+----+-----------+-------+----------+
|  1 | Brielle   |    23 | Female   |
+----+-----------+-------+----------+
|  2 | Catherine |    25 | Female   |
+----+-----------+-------+----------+

In [39]:
data = {
    'Name' : ['Anthony', 'Brielle', 'Catherine'],
    'Age' : [24, 23, 25],
    'Gender' : ['Male', 'Female', 'Female']
    }

df = pd.DataFrame(data)

print(tabulate(df, headers = 'keys', tablefmt = 'grid', showindex = False))

+-----------+-------+----------+
| Name      |   Age | Gender   |
+===========+=======+==========+
| Anthony   |    24 | Male     |
+-----------+-------+----------+
| Brielle   |    23 | Female   |
+-----------+-------+----------+
| Catherine |    25 | Female   |
+-----------+-------+----------+

In [40]:
tabulate(data, headers = … , tablefmt = … , other_option…)